<h1>Check Anagram</h1>
</ br>
</ br>
</ br>

<div id="navigation_container">

	<div class="rectangle">

		<ul id="navigation">

			<li>
				<ul id="home">
					<%= link_to '__Home__', anagrams_path %></ud
			</li>
		</ul>

	</div>

</div>

<%= render 'form' %>

<footer>
	<div class="container">
		RD test, Anagram detector
	</div>
</footer>
